.box {
  display: flex;
}

.input {
  width: 75vw;
  height: 35px;
  padding: 0 20px;
  border: 1px solid#dddddd;
  border-radius: 3px;
  color: #444444;
  box-sizing: border-box;
}

.button {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #2fcc71;
  border-radius: 3px;
  background: #ffffff url(./icons/search-green.svg) center no-repeat;
  background-size: 20px 20px;
}