.panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 8px 0;
  line-height: 0.35;
  
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px 1px #dddddd;
  opacity: 0.95;
}

.data {
  text-align: start;
  margin-left: 12px;
  font-size: 0.9em;
}

.data > p:first-child {
  font-weight: bold;
}

.time::after {
  content: "ms"
}

.query {
  color: #2fcc71;
}

.input {
  width: calc(100% - 50px);
  height: 35px;
  padding: 0 20px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  box-sizing: border-box;
  margin-left: 12px;
}

.button {
  width: 35px;
  height: 35px;
  border: none;
  background: transparent url(./icons/search.svg) center no-repeat;
  background-size: 20px 20px;
  margin-right: 12px;
  margin-left: auto;
}